body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;;
    grid-template-rows: auto auto;
}

.header {
    height: 10vh;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    grid-column-start: 1;
    grid-column-end: 3;
}

.headere p {
    margin-left: 20px;
    font-size: 30px;
}

.headerd {
    margin-top: 20px;
    display: flex;
    margin-left: auto;
}

.headerd a {
    margin-right: 20px;
    text-decoration: none;
}

.main {
    margin-top: 20vh;
    border-radius: 50px;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}

.foto {
    width: 230px;
    height: 230px;
    border-radius: 500px;
}

.redes{
  margin-top: 10vh;

}

.redes img {
    margin-left: 10px;
    width: 40px;
    height: 40px;
}

.name {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

#left {
    background-color: rgb(119, 0, 255);
    grid-row-start: 2;
    grid-column-start: 1;
    min-height: 90vh;
}

#right {
    background-color: rgb(65, 0, 117);
    grid-row-start: 2;
    grid-column-start: 2;
    min-height: 90vh;
}
